<!-- this was TechAcademy example -->
<!-- <article>
  <section>
    <h2>{{title}}</h2>
    <h3>Today is {{today}}</h3>
    <ul>
      whatever tag i am in, then repeat zero or more times
      over this invented thing called item. Every item it 
      comes across in products each is rendered into a fresh li item. 
      Importantly, the *ngFor means that as the model mutates, 
      the front end also dynamically updates 
      ie the backend is updating the frontend !!
      <li *ngFor='let item of products'>
         {{item.desc}} {{item.price |currency:'GBP'}}
      </li>
    </ul>
  </section>
</article>
<ul> -->

<br>
<span>Itic.Autotrader app is running!</span>
<br>
<br>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  li {
  float: left;
  font-size: 150%
  }
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  }
  li a:hover {
  background-color: #111111;
  }

</style>
<ul>
  <li><a href="#name">Name of Stock</a></li>
  <li><a href="#size">Size of Trade</a></li>
  <li><a href="#trigger">Trigger level
  </a></li>
</ul>
<br>
 
<select name="nameStockFRM" [(ngModel)]="nameStock" #nameStockFRM='ngModel'>
  <option value="Apple">AAPPL</option>
  <option value="BA">British Airways</option>
  <option value="fiat">Fiat</option>
  <option value="Amazon">Amazon</option>
</select>

<input name="orderSizeFRM" type="number" [(ngModel)]="sizeTrade" #orderSizeFRM='ngModel'>
<input name="marginFRM" type="number" [(ngModel)]="margin" #marginFRM='ngModel'>
<br>
<style>



body {
  background-color:rgb(124, 207, 182);
  border: 5px solid rgb(229, 255, 0);
  padding: 20px;
  margin: 30px
  }

table#t01 {
 background-color: rgb(185, 145, 173);
 border: 1px solid black;
 border-collapse: collapse;
 width: 50%;
 font-size:larger;
}
table#t01 th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  background-color: blueviolet
}

table#t01 td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

</style>
<br>

<p></p>
<!-- should the click occur then we set it per a function  
use the *ngif to remove the click button once is pressed-->
<button *ngIf='submitFlag'(click)='showTrades()'>Submit</button>
<br>
<br>

<h2>Trading History</h2>
<table id="t01">
     <thead>
        <th>Stock</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Buy or Sell</th>
        <th>Trade Time</th> 
     </thead> 
     <tbody>
      <tr  *ngFor='let item of trades'>
        <td>{{item.stockTicker}}</td>
        <td>{{item.price}}</td>
        <td>{{item.size}}</td>
        <td>{{item.tradeType}}</td>
        <td>{{item.lastStateChange}}</td>
      </tr>
     </tbody>
      
     <!--
      <div class="container">
        <div class="row">
          <div class="col-md">
            Stock
          </div>
          <div class="col-md">
            Price
          </div>
          <div class="col-md">
            Quantity
          </div>
          <div class="col-md">
            Date
          </div>
          <div class="col-md">
            Buy or Sell
          </div>
        </div>
      </div>
    -->
      
</table>

<!-- use {} to interpolate or bind the data 
  from my data model onto my view-->
<pre>
  
  {{trades | json}}
</pre>

